@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.timestamp {
  color: $grayLight;
  float: right;
}

.comment_timestamp {
  color: $grayLight;
}

.leave_comment {
  float: right;
}

.new_comment {
  padding-top: 5px;
}

.comments {
  float: left;
  margin-left: 40px;
  font-style: italic;
  margin-right: 40px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: blue;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* forms */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

textarea#comment_area {
  width: 100%;
  height: 100px;
}

/* ideas page */

pre {
  border: 1px solid #999;
  page-break-inside: avoid;
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
  white-space: pre-wrap;
}

blockquote p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.25;
}

.idea_foot_menu {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #ffffff;
  border-radius: 4px;
}

.idea_foot_menu > li {
  display: inline-block;
}

.idea_foot_menu > li + li:before {
  padding: 0 5px;
  color: #cccccc;
  content: "|\00a0";
}

.idea_foot_menu > .active {
  color: #999999;
}
